# Data Migration

In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import xlrd
import pyodbc
from datetime import datetime
from IPython.display import display, HTML
from sqlalchemy import create_engine

In [2]:
#pyodbc
#try:
#    conn = pyodbc.connect('DRIVER={SQL Server};SERVER=52.187.121.85;PORT=1433;DATABASE=LeadIntelligenceTest;uid=sa;pwd=1Qaz2wsx3edc;Trusted_Connection=NO')
#    #c = conn.cursor()
#    print('DB Connection Success !')
#except Exception as e:
#    print ("Error: " + str(e))
    
#sqlalchemy sqlsrv pyodbc SQL+Server+Native+Client+11.0
try:
    engine = create_engine('mssql+pyodbc://sa:1Qaz2wsx3edc@52.187.121.85:1433/LeadIntelligenceTest?driver=SQL+Server')
    print('Engine Connection Success !')
except Exception as f:
    print ("Error: " + str(f))

Engine Connection Success !

In [3]:
stripColumn = ['NoFaktur',
               'Kota',
               'KodePos',
               'Provinsi',
               'NoKTP',
               'NoHP']

tglColumn   = ['TanggalCetak',
               'TanggalMohon',
               'TanggalLahir']

blankColumn = ['FinanceCompany',
               'UangMuka',
               'TenorTahun',
               'Email',
               'JenisKelamin',
               'Agama',
               'Pekerjaan',
               'Pengeluaran',
               'Pendidikan',
               'PIC',
               'MerkSebelumnya',
               'JenisSebelumnya',
               'Fungsi',
               'Pemakai',
               'StatusRumah',
               'Facebook',
               'Twitter',
               'Instagram',
               'Youtube',
               'Hobi',
               'Remark']

selectColumn = ['NoFaktur',
                'NoKTP',
                'NoHP',
                'Kota',
                'KodeDealer',
                'KodePos',
                'Provinsi',
                'TanggalCetak',
                'TanggalMohon',
                'TanggalLahir',
                'Nama',
                'NoRangka',
                'KodeMesin',
                'NoMesin',
                'TipeMotor',
                'Warna',
                'JenisKelamin',
                'Alamat',
                'Kelurahan',
                'Kecamatan',
                'Email',
                'CashCredit',
                'FinanceCompany',
                'UangMuka',
                'UangMukaAktual',
                'Cicilan',
                'TenorBulan',
                'TenorTahun',
                'Agama',
                'Pekerjaan',
                'Pengeluaran',
                'Pendidikan',
                'StatusHP',
                'NoTelp',
                'NoHP',
                'Umur',
                'RangeUmur',
                'KebersediaanDihubungi',
                'Jenis3',
                'Jenis6',
                'MerkSebelumnya',
                'JenisSebelumnya',
                'Fungsi',
                'Pemakai',
                'SalesPerson',
                'TanggalVerifikasi',
                'StatusVerifikasi',
                'Hobi',
                'Facebook',
                'Twitter',
                'Instagram',
                'Youtube',
                'PIC',
                'StatusRumah',
                'TipeATPM',
                'TipeVarPlus',
                'NoCustomer',
                'ROType',
                'ROData',
                'NoAnggota',
                'Region',
                'Remark',
                'JenisSales',                
                ]

delColumn = ['Kode Msn',
             'No. Mesin2',
             'No. KTP',
             'alamat3',
             'Kel4',
             'Kec 5',
             'Kota/Kab',
             'Kode Pos6',
             'Propinsi',
             'Verify Flag',
             'Buyer Name',
             'Buyer Address',
             'Buyer Kelurahan',
             'Buyer Kecamatan',
             'Flag Update No. HP',
             'Flag Update Tgl Lahir',
             'Flag Update Agama',
             'Flag Update Pekerjaan',
             'Flag Update Cash/Credit',
             'Flag Update Fin',
             'Emails',
             'ReferallID',
             'Flag DP',
             'Flag Tenor',
             'Flag Cicilan',
             'Flag Email',
             'Flag Hobi',
             'Flag Keterangan',
             'TanggalVerifikasi']

In [4]:
df = pd.read_excel(r'C:\Users\Najib\Documents\AGIT\Customer Insight\Data\AHM\1Januari2018.xlsx')

df = df.rename(columns={'No. Faktur' : 'NoFaktur',
                        'KTP No' : 'NoKTP',
                        'No.HP' : 'NoHP',
                        'Kode Kota' : 'Kota',
                        'Kode Dealer' : 'KodeDealer',
                        'Kode Pos' : 'KodePos',
                        'Kode Prov' : 'Provinsi',
                        'Tgl Cetak' : 'TanggalCetak',
                        'Tgl Mohon' : 'TanggalMohon',
                        'Tgl Lahir' : 'TanggalLahir',
                        'No. Rangka' : 'NoRangka',
                        'Kode Mesin' : 'KodeMesin',
                        'No. Mesin' : 'NoMesin',
                        'TIPE' : 'TipeMotor',
                        'Gender' : 'JenisKelamin',
                        'Kel' : 'Kelurahan',
                        'Kec' : 'Kecamatan',
                        'Cash Credit' : 'CashCredit',
                        'Finance Company' : 'FinanceCompany',
                        'Down Payment' : 'UangMuka',
                        'DP Aktual' : 'UangMukaAktual',
                        'Tenor Bulan' : 'TenorBulan',
                        'Tenor Tahun' : 'TenorTahun',
                        'Status Handphone' : 'StatusHP',
                        'No. Telp' : 'NoTelp',
                        'No.HP' : 'NoHP',
                        'Range Umur' : 'RangeUmur',
                        'diHubungi' : 'KebersediaanDihubungi',
                        '3JENIS' : 'Jenis3',
                        '6JENIS' : 'Jenis6',
                        'Merk' : 'MerkSebelumnya',
                        'Jenis' : 'JenisSebelumnya',
                        'SalesPerson' : 'SalesPerson',
                        'Verify Date' : 'TanggalVerifikasi',
                        'Status Verifikasi' : 'StatusVerifikasi',
                        'Status Rumah' : 'StatusRumah',
                        'Tipe ATPM' : 'TipeATPM',
                        'Tipe Var Plus' : 'TipeVarPlus',
                        'Cust No.' : 'NoCustomer',
                        'RO Type' : 'ROType',
                        'RO Data' : 'ROData',
                        'Member No.' : 'NoAnggota',
                        'Jenis Sales' : 'JenisSales',
                        'REGION' : 'Region'})

#cleansing (')
for i in stripColumn:
    df[i] = df[i].apply(lambda x: x.strip("'"))

#converting string to date
for j in tglColumn:
    df[j] = df[j].apply(lambda x: x.strip("'"))
    df[j] = df[j].apply(lambda x: datetime.strptime(x, '%d%m%Y'))

#converting N to NaN/Null
for k in blankColumn:
    df[k] = df[k].replace({'N' : np.NaN})

#deleting unused column
for l in delColumn:
    del df[l]
    
#data = []

#data = df[selectColumn]
#display(HTML(df.to_html()))

#Exporting Data Frames to Excel
#df.to_excel(r'C:\Users\Najib\Documents\AGIT\Customer Insight\Data\AHM\Import.xlsx', sheet_name = 'Sheet1', index = False)

In [5]:
df['CustomerID'] = df['Nama']
df['DealerID'] = '5'
df['RowStatus'] = 1
df['CreatedBy'] = 'DSSCI5'
df['CreatedDate'] = datetime.now()

display(df.head(100))
#print(datetime.now())
#print(df['CustomerID'])
#del data['CustomerID']

#print(df['CreatedDate'])

#df.shape

#cols = df.columns.tolist()

,NoFaktur,NoRangka,KodeMesin,NoMesin,TanggalCetak,TanggalMohon,Nama,Alamat,Kelurahan,Kecamatan,...,Twitter,Instagram,Youtube,Hobi,Remark,CustomerID,DealerID,RowStatus,CreatedBy,CreatedDate
0,NDS /030741/Q,JBG111HK204959,JBG1E,1201462,2018-01-04,2017-12-11,BAPETEN,JL. GAJAH MADA NO.8,PETOJO UTARA,GAMBIR,...,NaN,NaN,NaN,NaN,NaN,BAPETEN,5,1,DSSCI5,2018-08-13 16:58:12.157743
1,NDS /030744/Q,JBG114HK204955,JBG1E,1201464,2018-01-04,2017-12-11,BAPETEN,JL. GAJAH MADA NO.8,PETOJO UTARA,GAMBIR,...,NaN,NaN,NaN,NaN,NaN,BAPETEN,5,1,DSSCI5,2018-08-13 16:58:12.157743
2,NDS /030802/Q,JBG110HK205164,JBG1E,1201811,2018-01-15,2017-12-30,HERAWAN LUQMAN UTOMO,JL. SEDAP MALAM C 3-7 PSI RT.10/15,JURANGMANGU BARAT,PONDOK AREN,...,NaN,NaN,NaN,B1,NaN,HERAWAN LUQMAN UTOMO,5,1,DSSCI5,2018-08-13 16:58:12.157743
3,NDS /030785/Q,JBG114HK205278,JBG1E,1201938,2018-01-10,2018-01-08,PRASETYO EPENDI,JL DUKUH III RT 10/02,DUKUH,KRAMATJATI,...,NaN,NaN,NaN,C10,NaN,PRASETYO EPENDI,5,1,DSSCI5,2018-08-13 16:58:12.157743
4,NDS /030800/Q,JBG119HK205289,JBG1E,1201952,2018-01-05,2018-01-02,FADLYANSYAH PRANOTO,KP.CILANGKAP RT. 04/03,CILANGKAP,TAPOS,...,NaN,NaN,NaN,A13,cerita,FADLYANSYAH PRANOTO,5,1,DSSCI5,2018-08-13 16:58:12.157743
5,NDS /032662/Q,JBG117HK205405,JBG1E,1201954,2018-01-20,2018-01-19,PT. BHAKTI PRAKASA,JL WR SUPRATMAN NO 67 RT 01/01,PONDOK RANJI,CIPUTAT TIMUR,...,NaN,NaN,NaN,NaN,NaN,PT. BHAKTI PRAKASA,5,1,DSSCI5,2018-08-13 16:58:12.157743
6,NDS /032777/Q,JBG113HK205529,JBG1E,1202013,2018-01-10,2018-01-06,HERDIAN BAYU SUBEKTI,BATAN INDAH BLOK F-6 RT. 06/04,KADEMANGAN,SETU,...,NaN,NaN,NaN,A23,NaN,HERDIAN BAYU SUBEKTI,5,1,DSSCI5,2018-08-13 16:58:12.157743
7,NDS /032779/Q,JBG114HK205507,JBG1E,1202134,2018-01-24,2018-01-20,THIORIA SITORUS,JLN. KRAMAT V NO.11 RT.05/09,KENARI,SENEN,...,NaN,NaN,NaN,A14,NaN,THIORIA SITORUS,5,1,DSSCI5,2018-08-13 16:58:12.157743
8,NDS /032788/Q,JBG118HK205509,JBG1E,1202136,2018-01-20,2018-01-19,HUBERTUS EDDY BERNARD,JL. BUDI MULIA NO.20 RT.10/09,PADEMANGAN BARAT,PADEMANGAN,...,NaN,NaN,NaN,A15,NaN,HUBERTUS EDDY BERNARD,5,1,DSSCI5,2018-08-13 16:58:12.157743
9,NDS /033101/Q,JBG115HK205595,JBG1E,1202283,2018-01-06,2018-01-03,DICKSON WIRAHADIPUTRA,TSI BLOK N O/30 RT.12/11,DURI KOSAMBI,CENGKARENG,...,NaN,NaN,NaN,A15,NaN,DICKSON WIRAHADIPUTRA,5,1,DSSCI5,2018-08-13 16:58:12.157743

In [6]:
def sqlcol(dfparam):    

    dtypedict = {}
    for i,j in zip(dfparam.columns, dfparam.dtypes):
        if "object" in str(j):
            dtypedict.update({i: sqlalchemy.types.NVARCHAR(length=255)})

        if "datetime" in str(j):
            dtypedict.update({i: sqlalchemy.types.DateTime()})

        if "float" in str(j):
            dtypedict.update({i: sqlalchemy.types.Float(precision=3, asdecimal=True)})

        if "int" in str(j):
            dtypedict.update({i: sqlalchemy.types.INT()})

    return dtypedict

outputdict = sqlcol(df)

#Insert Into Database
df.to_sql(name = 'TB_R_SALES_ORDER', con = engine, index = False, if_exists = 'append')

#conn.commit()
#conn.close()
#df.dtypes
#print('SUCCESS !')

ProgrammingError: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid column name 'index'. (207) (SQLExecDirectW); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid column name 'index'. (207); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Statement(s) could not be prepared. (8180)") [SQL: 'INSERT INTO [TB_R_SALES_ORDER] ([index], [NoFaktur], [NoRangka], [KodeMesin], [NoMesin], [TanggalCetak], [TanggalMohon], [Nama], [Alamat], [Kelurahan], [Kecamatan], [Kota], [KodePos], [Provinsi], [CashCredit], [KodeDealer], [NoKTP], [FinanceCompany], [UangMuka], [TenorTahun], [Email], [JenisSales], [JenisKelamin], [TanggalLahir], [Agama], [Pekerjaan], [Pengeluaran], [Pendidikan], [PIC], [NoHP], [NoTelp], [KebersediaanDihubungi], [MerkSebelumnya], [JenisSebelumnya], [Fungsi], [Pemakai], [SalesPerson], [Umur], [RangeUmur], [Region], [TipeMotor], [Jenis6], [Jenis3], [StatusRumah], [StatusHP], [StatusVerifikasi], [UangMukaAktual], [TenorBulan], [Cicilan], [TipeATPM], [Warna], [TipeVarPlus], [NoCustomer], [ROType], [ROData], [NoAnggota], [Facebook], [Twitter], [Instagram], [Youtube], [Hobi], [Remark], [CustomerID], [DealerID], [RowStatus], [CreatedBy], [CreatedDate]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (0, 'NDS /030741/Q', 'JBG111HK204959', 'JBG1E', 1201462, datetime.datetime(2018, 1, 4, 0, 0), datetime.datetime(2017, 12, 11, 0, 0), 'BAPETEN', 'JL. GAJAH MADA NO.8', 'PETOJO UTARA', 'GAMBIR', '3173', '10130', '3100', 1, 'TA197', '00.271.908.6-029.000', None, None, None, None, 'G', None, datetime.datetime(1995, 1, 17, 0, 0), None, None, None, None, 'BAPETEN', '0216385826970', 216385826970.0, 'Y', None, None, None, None, 249882, 23, '21-25', 'I01', 'SUPRA X 125 CW HELM IN F1', 'CUB HIGH', 'CUB', None, 1, 2, 0, 0, 0, 'FM3', 'BR', 'FM3', 'IB0000H102', 1, None, 'I3173TA197I00889', None, None, None, None, None, None, 'BAPETEN', '5', 1, 'DSSCI5', datetime.datetime(2018, 8, 13, 16, 58, 12, 157743), 1, 'NDS /030744/Q', 'JBG114HK204955', 'JBG1E', 1201464, datetime.datetime(2018, 1, 4, 0, 0), datetime.datetime(2017, 12, 11, 0, 0), 'BAPETEN', 'JL. GAJAH MADA NO.8', 'PETOJO UTARA', 'GAMBIR', '3173', '10130', '3100', 1, 'TA197', '00.271.908.6-029.000', None, None, None, None, 'G', None, datetime.datetime(1995, 1, 17, 0, 0), None, None, None, None, 'BAPETEN', '0216385826970', 216385826970.0, 'Y', None, None, None, None, 249882, 23, '21-25', 'I01', 'SUPRA X 125 CW HELM IN F1', 'CUB HIGH', 'CUB', None, 1, 2, 0, 0, 0, 'FM3', 'BR', 'FM3', 'IB0000H102', 1, None, 'I3173TA197I00889', None, None, None, None, None, None, 'BAPETEN', '5', 1, 'DSSCI5', datetime.datetime(2018, 8, 13, 16, 58, 12, 157743), 2, 'NDS /030802/Q', 'JBG110HK205164', 'JBG1E', 1201811, datetime.datetime(2018, 1, 15, 0, 0), datetime.datetime(2017, 12, 30, 0, 0), 'HERAWAN LUQMAN UTOMO', 'JL. SEDAP MALAM C 3-7 PSI RT.10/15', 'JURANGMANGU BARAT', 'PONDOK AREN', '3673', '15227', '3600', 1, 'TA197', '3674031011930008', None, None, None, None, 'C', 1.0, datetime.datetime(1993, 11, 10, 0, 0), 1.0, 5.0, 3.0, 4.0, None, '81317642989', None, 'Y', 6.0, 4.0, 3.0, 1.0, 212106, 25, '21-25', 'I01', 'SUPRA X 125 CW HELM IN F1', 'CUB HIGH', 'CUB', 2.0, 1, 2, 0, 0, 0, 'FM3', 'BB', 'FM3', 'IB0000H102', 1, None, 'I3673TA197I00588', None, None, None, None, 'B1', None, 'HERAWAN LUQMAN UTOMO', '5', 1, 'DSSCI5', datetime.datetime(2018, 8, 13, 16, 58, 12, 157743), 3, 'NDS /030785/Q', 'JBG114HK205278', 'JBG1E', 1201938, datetime.datetime(2018, 1, 10, 0, 0), datetime.datetime(2018, 1, 8, 0, 0), 'PRASETYO EPENDI', 'JL DUKUH III RT 10/02', 'DUKUH', 'KRAMATJATI', '3172', '13550', '3100', 1, 'TA197', '3175042011931001', None, None, None, None, 'I', 1.0, datetime.datetime(1993, 11, 20, 0, 0), 1.0, 2.0, 7.0, 4.0, None, '85692667315', 85692667315.0, 'Y', 1.0, 3.0, 5.0, 1.0, 293438, 25, '21-25', 'I01', 'SUPRA X 125 CW HELM IN F1', 'CUB HIGH', 'CUB', 1.0, 1, 2, 0, 0, 0, 'FM3', 'BB', 'FM3', 'IB0000H102', 1, None, 'I3172TA197J00057', None, None, None, None, 'C10', None, 'PRASETYO EPENDI', '5', 1, 'DSSCI5', datetime.datetime(2018, 8, 13, 16, 58, 12, 157743), 4, 'NDS /030800/Q', 'JBG119HK205289', 'JBG1E', 1201952, datetime.datetime(2018, 1, 5, 0, 0), datetime.datetime(2018, 1, 2, 0, 0), 'FADLYANSYAH PRANOTO', 'KP.CILANGKAP  RT. 04/03', 'CILANGKAP', 'TAPOS', '3276', '16458', '3200', 2, 'TA238', '3276022411900002', 26.0, 3.0, 3.0, None, 'I', 1.0, datetime.datetime(1990, 11, 24, 0, 0), 1.0, 2.0, 4.0, 4.0, None, '85710361200', 85710361200.0, 'Y', 6.0, 4.0, 7.0, 1.0, 166514, 28, '26-30', 'I01', 'SUPRA X 125 CW HELM IN F1', 'CUB HIGH', 'CUB', 1.0, 1, 2, 1300000, 35, 837000, 'FM3', 'BB', 'FM3', 'IB0000H103', 1, None, 'I327616792J00001', None, None, None, None, 'A13', 'cerita', 'FADLYANSYAH PRANOTO', '5', 1, 'DSSCI5', datetime.datetime(2018, 8, 13, 16, 58, 12, 157743), 5, 'NDS /032662/Q', 'JBG117HK205405', 'JBG1E', 1201954, datetime.datetime(2018, 1, 20, 0, 0), datetime.datetime(2018, 1, 19, 0, 0), 'PT. BHAKTI PRAKASA', 'JL WR SUPRATMAN NO 67 RT 01/01', 'PONDOK RANJI', 'CIPUTAT TIMUR', '3673', '15419', '3600', 1, 'TA197', '30081463151', None, None, None, None, 'G', None, datetime.datetime(2000, 1, 28, 0, 0), None, None, None, None, 87884242227, '087884242227', None, 'Y', None, None, None, None, 321875, 18, '<=20', 'I01', 'SUPRA X 125 CW HELM IN F1', 'CUB HIGH', 'CUB', None, 1, 2, 0, 0, 0, 'FM3', 'BB', 'FM3', 'IB0000H102', 1, None, 'I3673TA197J00018', None, None, None, None, None, None, 'PT. BHAKTI PRAKASA', '5', 1, 'DSSCI5', datetime.datetime(2018, 8, 13, 16, 58, 12, 157743), 6, 'NDS /032777/Q', 'JBG113HK205529', 'JBG1E', 1202013, datetime.datetime(2018, 1, 10, 0, 0), datetime.datetime(2018, 1, 6, 0, 0), 'HERDIAN BAYU SUBEKTI', 'BATAN INDAH BLOK F-6 RT. 06/04', 'KADEMANGAN', 'SETU', '3673', '17320', '3600', 1, 'TA238', '3674072409970002', None, None, None, None, 'I', 1.0, datetime.datetime(1997, 9, 24, 0, 0), 1.0, 5.0, 4.0, 3.0, None, '8,11801E+12', 81180066790817.0, 'Y', 6.0, 4.0, 5.0, 1.0, 347303, 21, '21-25', 'I01', 'SUPRA X 125 CW HELM IN F1', 'CUB HIGH', 'CUB', 2.0, 1, 2, 0, 0, 0, 'FM3', 'BV', 'FM3', 'IB0000H103', 1, None, 'I367316792J00007', None, None, None, None, 'A23', None, 'HERDIAN BAYU SUBEKTI', '5', 1, 'DSSCI5', datetime.datetime(2018, 8, 13, 16, 58, 12, 157743), 7, 'NDS /032779/Q', 'JBG114HK205507', 'JBG1E', 1202134, datetime.datetime(2018, 1, 24, 0, 0), datetime.datetime(2018, 1, 20, 0, 0), 'THIORIA SITORUS', 'JLN. KRAMAT V NO.11 RT.05/09', 'KENARI', 'SENEN', '3173', '10430', '3100', 1, 'TA197', '3275115406680002', None, None, None, None, 'C', 1.0, datetime.datetime(1968, 6, 14, 0, 0), 2.0, 2.0, 4.0, 5.0, None, '8131751288', None, 'Y', 6.0, 4.0, 5.0, 3.0, 221071, 50, '46-50', 'I01', 'SUPRA X 125 CW HELM IN F1', 'CUB HIGH', 'CUB', 1.0, 1, 2, 0, 0, 0, 'FM3', 'BV', 'FM3', 'IB0000H102', 1, None, 'I3173TA197J00040', None, None, None, None, 'A14', None, 'THIORIA SITORUS', '5', 1, 'DSSCI5', datetime.datetime(2018, 8, 13, 16, 58, 12, 157743), 8, 'NDS /032788/Q', 'JBG118HK205509', 'JBG1E', 1202136, datetime.datetime(2018, 1, 20, 0, 0), datetime.datetime(2018, 1, 19, 0, 0), 'HUBERTUS EDDY BERNARD', 'JL. BUDI MULIA NO.20 RT.10/09', 'PADEMANGAN BARAT', 'PADEMANGAN', '3175', '14420', '3100', 1, 'TA197', '3172052909810002', None, None, None, None, 'C', 1.0, datetime.datetime(1981, 9, 29, 0, 0), 3.0, 2.0, 5.0, 4.0, None, '8121305868', None, 'Y', 1.0, 3.0, 7.0, 1.0, 293428, 37, '36-40', 'I01', 'SUPRA X 125 CW HELM IN F1', 'CUB HIGH', 'CUB', 1.0, 1, 2, 0, 0, 0, 'FM3', 'BV', 'FM3', 'IB0000H102', 1, None, 'I3175TA197J00057', None, None, None, None, 'A15', None, 'HUBERTUS EDDY BERNARD', '5', 1, 'DSSCI5', datetime.datetime(2018, 8, 13, 16, 58, 12, 157743), 9, 'NDS /033101/Q', 'JBG115HK205595', 'JBG1E', 1202283, datetime.datetime(2018, 1, 6, 0, 0), datetime.datetime(2018, 1, 3, 0, 0), 'DICKSON WIRAHADIPUTRA', 'TSI BLOK N O/30 RT.12/11', 'DURI KOSAMBI', 'CENGKARENG', '3174', '11750', '3100', 1, 'TA197', '3173012003741001', None, None, None, None, 'C', 1.0, datetime.datetime(1974, 3, 20, 0, 0), 2.0, 4.0, 5.0, 4.0, None, '81399386577', None, 'Y', 1.0, 3.0, 7.0, 1.0, 293428, 44, '41-45', 'I01', 'SUPRA X 125 CW HELM IN F1', 'CUB HIGH', 'CUB', 1.0, 1, 2, 0, 0, 0, 'FM3', 'BR', 'FM3', 'IB0000H102', 1, None, 'I3174TA197J00002', None, None, None, None, 'A15', None, 'DICKSON WIRAHADIPUTRA', '5', 1, 'DSSCI5', datetime.datetime(2018, 8, 13, 16, 58, 12, 157743))] (Background on this error at: http://sqlalche.me/e/f405)